---
layout: default-light
bodyclass: full-height
---

<div class="container full-container full">
    <div class="row full">

          <div class="col-sm-12 hero" style="background-image: url({{ site.baseurl }}/img/feature-water.jpg);">
                <div class="overlay">
                    <style>
                      @import url('https://fonts.googleapis.com/css?family=Lobster');
                    </style>
                    
                    <h1 style="font-family: 'Lobster', cursive; text-align: center; font-size: 1500%; color: white">Crevard Stylé</h1>
                    <p class="hero__content animated fadeIn delay-2">Un homme se doit de développer son propre style, certes, mais sans pour autant se ruiner.</p>

                          <a href="http://www.crevardstyle.com/author/hyke/" class="hero___avatar-link"><img src="{{ site.baseurl }}/img/hyke.jpg" alt="Hyke" class="hero__content__avatar animated fadeIn delay-2" alt=""></a>
                      <p class="hero__content post-preview__meta animated fadeIn delay-2">Hyke</p>

                </div>
            </div>

          {% for post in site.posts %}

              <div class="col-sm-6 col-md-4 col-lg-3 post-preview {% if post.is_featured %} post--featured {% endif %}" style="background-image: url({{ site.baseurl }}/img/{{post.feature_image}});">
                  {% if post.is_featured %}
                  <span class="post-featured-text">New</span>
                  {% endif %}
                  <div class="overlay">
                      <div class="post-preview__info animated fadeInUp delay-3">
                          <div class="inner">
                              <h2><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
                              <p class="post-preview__meta">Publié dans
                                {% for category in post.categories %}
                                    <a href="{{site.baseurl}}{{ category | prepend: "/category/"}}">{{ category | capitalize }}</a>{% if forloop.last %}{% else %},{% endif %}
                                {% endfor %}
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

          {% endfor %}
    </div> <!--/row -->
</div>
